* {
	/*margin: 0;*/
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}
body {	
	background-image: url(../images/bbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	letter-spacing: 1.2px;
}
.container {
	background-image: url(../images/bg0.png);
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 15px;
	padding: 30px;
	height: 650px;
	margin: 40px;
/*	margin-left: 40px;
	margin-right: 40px;*/
	overflow: scroll;
	box-shadow: 15px 15px 5px orange;
	display: flex;
}

small {
	font-weight: bolder;
	font-size: 20px;
}
.orenji {
	height: 100vh;
	padding: 50px 0px 0px 70px;
}

.what,
.symptoms,
.pum1,
.how {
	height: 100vh;
}

.emergency{
	height: 70vh;
}
footer {
	bottom: 0;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

.title {
	font-size: 57px;
}
h1, h2, h4 {
	font-family: 'Concert One', cursive;
	letter-spacing: 2px;
	width: 90%;
	margin-right: : 0;
}
/*.pum {
	padding-top: 10px;
}*/

.doctor,
.risk,
.spread {
	padding-top: 10px;
}

p {
	width: 80%;
	margin-right: 0;
	font-weight: bolder;
	padding-top: 20px;
	font-size: 18px;
}
.pform {
	width: 100%;
}
form {
	/*background-image: url(../images/form.png);
	background-size: contain;
	background-position: center;*/
	width: 30%;
	padding: 30px 30px 50px 30px;
	height: 55%;
	border: 5px dashed white;
	border-radius: 10px;
	/*background-color: #3c7f66;*/
	margin-right: 30px;
	margin-top: 40px;
	position: fixed;
}
button {
	border-radius: 25px;
}


@media only screen and (max-width: 767px) {
	* {
		overflow-x: hidden;
	}
	body {	
		background-image: url(../images/bbg.jpg);
	}
	.container {
		background-image: none;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	h1, h2, h4 {
		width: 100%;
	}
	p {
		width: 100%;
		padding: 0;
	}
	.pform {
		width: 100%;
	}
	form {
		width: 100%;
		position: relative;
		height: 100%;
	}
	.orenji {
		height: 40vh;
		padding: 0;
	}
	.symptoms,
	.what {
		height: 100vh;
	}
	.how {
		height: 80vh;
	}
	.emergency {
		height: 50vh;
	}
	footer {
		height: auto;
	}
}